<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>WEB-OMS</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/ordertable.js"></script>



</head>
<body>
<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-6 text-right">
				<p>View all your orders</p>
			</div>
			<div class="row">
					<table id="employeesTable" class="display">

						<!-- Header Table -->
						<thead>
						<tr>
							<th>OrderId</th>
							<th>ItemId</th>
							<th>Side</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
						</thead>
						<!-- Footer Table -->
						<tfoot>
						<tr>
							<th>OrderId</th>
							<th>ItemId</th>
							<th>Side</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
						</tfoot>
					</table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-6 text-right">
				<a th:href="@{/home}">Home</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>

